/* Fonts */
:root {
    /* Font Families */
    --ff-primary: 'Baloo', cursive;
    
  
    /* heading font sizes */
    --fs-xs: 0.75rem; /* 12px */
    --fs-sm: 0.875rem; /* 14px */
    --fs-base: 1rem; /* 16px */
    --fs-lg: 1.125rem; /* 18px */
    --fs-xl: 1.25rem; /* 20px */
    --fs-2xl: 1.5rem; /* 24px */
    --fs-3xl: 1.875rem; /* 30px */
    --fs-4xl: 2.25rem; /* 36px */
    --fs-5xl: 3rem; /* 48px */
    --fs-6xl: 3.75rem; /* 60px */
    --fs-7xl: 4.5rem; /* 72px */
    --fs-8xl: 6rem; /* 96px */
    --fs-9xl: 8rem; /* 128px */
  
    /* Font Weights */
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
  }
  
  /* Colors */
  :root {
    /* Background Colors */
    --bg-base:  #E8E4E8;
    --bg-base-lt:  #ffffff;
    
    /* Text Colors */
    --text-base-drk: #000000;
    --text-base: #222222;
    --text-base-lt: #f2f2f2;
  
    --bg-gradient: linear-gradient(to bottom, #FDD7D7, #D7F0FD, #D7FDE1);
  
    --color-primary: #AFE3FF;
  
  } 
  
  /*===================================================== General reusable style ===================================================== */
  
  /* reusable font size */
  .fs-xs {
    font-size: var(--fs-xs);
  }
  .fs-sm {
    font-size: var(--fs-sm);
  }
  .fs-base {
    font-size: var(--fs-base);
  }
  .fs-lg {
    font-size: var(--fs-lg);
  }
  .fs-xl {
    font-size: var(--fs-xl);
  }
  .fs-2xl {
    font-size: var(--fs-2xl);
  }
  .fs-3xl {
    font-size: var(--fs-3xl);
  }
  .fs-4xl {
    font-size: var(--fs-4xl);
  }
  .fs-5xl {
    font-size: var(--fs-5xl);
  }
  .fs-6xl {
    font-size: var(--fs-6xl);
  }
  
  /* reusable font weight */
  
  .fw-normal {
    font-weight: var(--fw-normal);
  }
  .fw-medium {
    font-weight: var(--fw-medium);
  }
  .fw-semibold {
    font-weight: var(--fw-semibold);
  }
  .fw-bold {
    font-weight: var(--fw-bold);
  }
  .fw-extrabold {
    font-weight: var(--fw-extrabold);
  }
  
  .text-center {
    text-align: center;
  }

  
/* ======================================================================================================================== */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    color: var(--text-base);
  }
  /* Body Styling */
  body {
    background: var(--bg-gradient);
    background-size: 100% 200%;
    background-position: 0 0;
    height: 100vh;
    animation: gradientAnimation 4s infinite alternate;
  }
  
  /* Animation for reversing the gradient direction */
  @keyframes gradientAnimation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100%;
    }
  }

  footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
 
.logo-img {
    height: 50px;
    width: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
}

.logo-img:hover {
    transform: scale(1.1);
}

button {
  background: #ffa500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  margin: 10px 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

button:hover {
  background: #ff7f00;
  transform: scale(1.05);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
}


  
  /* ===================================================== Hero LANDING PAGE ===================================================== */

  
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.hero-img {
    height: 650px;
    width: 650px;
}

/* ===================================================== ============== ===================================================== */


/* ===================================================== TOPIC PAGE ===================================================== */

.topic-content {
    height: 90vh;
}

.card {
    flex: 0 0 auto;
    width: 100%;  /* Square size */
    height: 15rem;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    background: #fff;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
}
.card img {
    width: 100%;
    height: 70%; /* Take up 70% of the card */
    object-fit: cover; /* Ensure proper image fit */
    border-bottom: 2px solid #ddd;
}
.card-title {
    margin: 0;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}